html { 
    background-color: black;
    margin: 0; 
    padding: 0;
}
header { 
    display: flex; 
    justify-content: space-between;
    margin-bottom: 20px;
}
nav { 
    display: flex;
    justify-content: space-between;
}
nav ul li { 
    display: inline-block;
    font-size: 45px;
}
nav ul li a { 
    color: white;
    text-decoration: underline;
    padding: 20px;
}
#background { 
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("./images/img-mission-background.jpg");
    height: 700px;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 25px;
}
#banner-text { 
    background-color: black;
    width: 100%;
}
#banner-text h2 { 
    color: white;
    text-align: center;
}
#banner-text h4 { 
    color: white;
    text-align: center;
}
#gallery { 
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}
#gallery img { 
    width: 300px; 
    height: 200px;
    margin-bottom: 10px;
}
figcaption { 
    color: white;
    text-align: center;
}
#footer-background { 
    background-image: url("./images/img-locations-background.jpg");
    height: 700px;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 25px;
}
#footer-background h2 { 
    text-align: center;
    color: white;
    font-size: 50px;
    padding-top: 30px;
}
#background-flex { 
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#background-flex div { 
    width: 300px;
    height: 250px;
    margin: 20px 10px;
    background-color: black;
    color: white;
}
#background-flex h4 { 
   text-align: center;
}
#background-flex h3 { 
    text-align: center;
    font-size: 30px;
}
footer { 
    display: flex;
    color: white;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    text-align: center;
}
#copyright { 
    color: white;
    font-size: 20px;
}